# Copyright (c) 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at
# http://oss.oracle.com/licenses/upl.

.idea
.python-version
.coverage
.pytest_cache
*.iml
etc
build
poetry.lock
__pycache__
tests/java/coherence-python-test/target
tests/utils/certs
tests/utils/.env
