# Copyright (c) 2022, 2024, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: \w*(_pb2)\w*

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
        - id: flake8

-   repo: https://github.com/psf/black
    rev: b965c2a5026f8ba399283ba3e01898b012853c79
    hooks:
        - id: black

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
        - id: mypy

-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
        - id: isort
