grpcio-tools==1.51.1; python_version >= "3.7"
grpcio==1.51.1; python_version >= "3.7"
jsonpickle==2.2.0; python_version >= "2.7"
protobuf==4.21.11; python_version >= "3.7"
pymitter==0.4.0; python_version >= "3.5" and python_version < "4"
