# Copyright 2025, Oracle Corporation and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.

name: Run Examples with released client
on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *"
jobs:
  run-examples-with-latest-release:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9.x", "3.10.x", "3.11.x", "3.12.x", "3.13.x"]
        os: [ubuntu-latest]
        coherence-image:
          - ghcr.io/oracle/coherence-ce
        coherenceVersion:
          - 22.06.13
          - 25.03.2
    runs-on: ${{ matrix.os }}
    steps:
      - name: Get Docker Images
        shell: bash
        run: |
          docker pull ${{ matrix.coherence-image }}:${{ matrix.coherenceVersion }}

      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Coherence Python Client
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install coherence-client
          pip install sentence-transformers    # required for vector_search example

      - name: Start the Server using image
        shell: bash
        run: |
          docker run -d -p 1408:1408 ${{ matrix.coherence-image }}:${{ matrix.coherenceVersion }}
          sleep 20

      - name: Run the example
        shell: bash
        run: |
          cd examples
          for file in *.py; do
            echo "Run example ${file}"
            COHERENCE_CLIENT_REQUEST_TIMEOUT=180.0 python3 $file
            echo "==== Done running example ${file} ======"
          done
